@model List<MovieWeb.Client.Models.ActorListViewModel>


<a asp-controller="Movie" asp-action="Create">Create new Movie</a>
<table>

    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        
    </tr>
    @foreach (var movie in @Model)
    {
        <tr>
            <td>@movie.FirstName</td>
            <td>@movie.LastName</td>
            <td><a asp-controller="Actor" asp-action="Details" asp-route-id="@movie.Id">🔎</a></td>
            <td><a asp-controller="Actor" asp-action="Update" asp-route-id="@movie.Id">Update</a></td>
            <td><a asp-controller="Actor" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></td>
        </tr>
    }




</table>