@model List<MovieWeb.Client.Models.ActorListViewModel>


<a asp-controller="Actor" asp-action="Create">Create new Actor</a>
<table>

    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        
    </tr>
    @foreach (var actor in @Model)
    {
        <tr>
            <td>@actor.FirstName</td>
            <td>@actor.LastName</td>
            <td><a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Id">🔎</a></td>
            <td><a asp-controller="Actor" asp-action="Update" asp-route-id="@actor.Id">Update</a></td>
            <td><a asp-controller="Actor" asp-action="Delete" asp-route-id="@actor.Id">Delete</a></td>
        </tr>
    }




</table>